* {
    background-color: lavender;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.4s;
}

body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}

/* navbar styling */
.navbar{
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    margin-bottom: 10px;
    
}

.hamburger-menu{
    padding-right: 1.5rem;
    cursor: pointer;
}

.hamburger-menu .line{
   display: block;
   width:2.5rem;
   height: 2px;
   margin-bottom: 10px;
   background-color: black;
   cursor: pointer;
}

.nav-menu{
    position: absolute;
    width: 94%;
    top: 6rem;
    left: 18px;
    background-color: snow;
    font-weight: 600;
    z-index: 2;
}
.nav-menu a{
    display: block;
    text-align: right;
    padding: 5px 0;
}
.nav-menu a:hover{
    background-color: lightblue;
}

.hide{
    display: none;
}

.introPicture {
    height: 400px;
    width: 100%;
    background-image: url("./Image/ForLaptop.jpeg");
    background-size: cover;
    position: relative;
    margin-bottom: 10px;
    z-index: 1;
}

.introMsg {
    position:absolute;
    left: 5%;
    top: 10%;
    color: snow;
    background-color: transparent;
    p {
        background-color: transparent;
        font-size: larger;
        text-align: left;
    }
    h1 {
        background-color: transparent;
        font-size: 50px;
        text-align: left;
    }
}

.button {
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    background-color: white;
    border-radius: 20px;
    margin-top: 2rem;
    cursor: pointer;
}
.button:hover {
    background-color: lightblue;
}

#line {
    display: block;
    height: 1px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}


.bottomHalf {
    display: flex;
    justify-content: space-evenly;
    height: 180px;
    background-color: lightpink;
    border-radius: 20px;
    margin-bottom: 1rem;
    h3, p {
        font-size: 17px;
        background-color: transparent;
        margin-top: 10px;
    }
    .webVision, .policy {
        background-color: transparent;
        
    }
    .webVision {
        margin-top: 20px;
    }
    .policy {
        margin-top: 20px;
    }
}






.footerFlex {
    display: flex;
    height: 100px;
    justify-content: space-between;
    background-color: black;
}
.copyrights {
    margin-left: 1rem;
    margin-top: 20px;
    background-color: transparent;
    p {
        background-color: transparent;
        color: ivory;
    }
}
.socialIcons {
    margin-top: 20px;
    background-color: transparent;
    margin-right: 2rem;
}


.fa-linkedin {
    background-color: black;
    color: white;
    background-blend-mode: normal;
}
.fa-github {
    background-color: black;
    color: white;
    background-blend-mode: normal;
}
.fa-instagram {
    background-color: black;
    color: white;
    background-blend-mode: normal;
}
.fa-youtube {
    background:  black;
    color: white;
    background-blend-mode: normal;
}
.fa-soundcloud {
    background-color: black;
    color: white;
    background-blend-mode: normal;
}

/* For Desktop */
@media screen and (min-width: 1000px) {
    .navbar{
        justify-content: space-around;
    }
    .nav-menu{
        display: block;
        position: static;
        width: auto;
        margin-right:20px;
        background: none;
    }
    .nav-menu a{
        display: inline-block;
        padding: 15px 20px;
    }
    .nav-menu a:hover{
        background-color: lightblue;
        border-radius: 5px;
    }
    .hamburger-menu{
        display: none;
    }
    .introPicture {
        background-image: url("./Image/DesktopAnAbove.jpeg");
        height: 500px;
    }
}
/* For 1500px width Desktop an above */
@media screen and (min-width: 1500px) {
    .introPicture {
        height: 620px;
        background-size: cover;
    }

    .bottomHalf {
        height: 250px;
        h3, p {
            font-size: 23px;
        }
    }

    .footerFlex {
        .copyrights p {
            font-size: large;
        }
    }

    .introMsg {
        p {
            font-size: x-large;
        }
        h1 {
            font-size: 60px;
        }
        .button {
            font-size: 24px;
        }
    }
}
@media screen and (min-width: 650px) and (max-width: 900px) {
    .introPicture {
        background-image: url("./Image/ForTablet.jpeg");
        height: 680px;
        background-size: cover;
    }
    .introMsg {
        p {
            font-size: xx-large;
        }
        h1 {
            font-size: 70px;
        }
        .button {
            font-size: 24px;
        }
    }
    .bottomHalf {
        flex-direction: column;
        height: 395px;
        align-items: center;
        .webVision, .policy {
            margin: 0;
        }
        h3, p {
            text-align: center;
            font-size: 25px;
        }
        
    }
}

/* For Mobile ONLY */
@media screen and (max-width: 620px) {
    .introPicture {
        background-image: url("./Image/DigitalisationForMobile.jpeg");
        height: 350px;
        background-size: cover;
    }
    .introMsg {
        p {
            font-size: medium;
        }
        h1 {
            font-size: 30px;
        }
        .button {
            font-size: 12px;
            padding: 5px;
        }
    }
    .bottomHalf {
        flex-direction: column;
        height: 255px;
        align-items: center;
        .webVision, .policy {
            margin: 0;
        }
        h3 {
            text-align: center;
            font-size: 16px;
        }
        p {
            text-align: center;
            font-size: 15px;
        }
    }
    .footerFlex {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 170px;
        .copyrights p {
            text-align: center;
            font-size: small;
        }
        .footerLine {
            height: 1px;
            width: 200px;
            margin-top: 10px;
        }
        .socialIcons {
            margin-top: 0;
        }
        
    }
}